.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav .nav-link.active {
  font-weight: bold;
}

.frame {
  height: 400px;
  width: 330px;
}

.frame img {
  height: 300px;
  width: 200px;
  object-fit: contain;
}
.platformIcon {
  width: 25px;
  height: 25px;
}

.card {
  width: 18rem;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: contain;
}
